.glyphicon-play{
	color:white; 
	font-size:1.5em;
	padding:10px;
	cursor: pointer;
}
.glyphicon-play:hover{
	color:red;
}
.glyphicon-stop{
	color:white; 
	font-size:1.5em;
	padding:10px;
	cursor: pointer;
}
.glyphicon-stop:hover{
	color:red;
}
.glyphicon-volume-up{
	cursor: pointer;
	color:white; 
	font-size:1.5em;
	padding:10px;
	float: right;

}
.glyphicon-volume-up:hover{
	color:red;
}
.glyphicon-volume-up:hover #slider-vertical{
	color:red;
	visibility: visible;
	opacity:1;
}

#slider-vertical{
  position:absolute; 
  height:200px;
  bottom:40px;  
  visibility: hidden;
  opacity: 0;
  transition:opacity 0.5s linear;
}