

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-static-top{
  color:#e6e6e6;
	position: relative;
	bottom:50px;
}
.navbar-fixed-top{
  background-color:#e6e6e6;
  z-index:1;
}
#myNavbar{
  border:0px;
}
#nav{
      -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-toggle{
  position: fixed;
  z-index:2;
  top: 0px;
  right: 0px;
  background-color: rgba(153, 0, 0, 0.4);
}
.nav-border{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.nav-border-2{
height: 57px;
}
@media only screen and (max-width:47.8em){
  .nav-border-2{
    border-left:none;
    height:0px;
  }
}
.my-name{
height:57px;
border-left: 4px solid BLACK;
border-bottom: 4px solid BLACK;
}
.name-border-2{
height:57px;
border-bottom: 3px solid BLACK
}
.cv-border{
	border-bottom: 1px solid BLACK;

}
a:hover{
  text-decoration: none;
}
.col-sm-3.text-center.selected:hover{
  -webkit-transition: .4s ease-out 0.1s; 
  -moz-transition: .4s ease-out 0.1s; 
  -o-transition: .4s ease-out 0.1s;  
  transition: .4s ease-out 0.1s; 
	background-color:#ff0000;
  text-decoration: none;
}
.nav-highlight{
	border-bottom:2px solid #e6e6e6;
}
.nav-highlight-2{
	border-left: 3px solid #e6e6e6;
}

#loading{
  visibility:hidden;
}
#soundcloud_clickable{
  cursor:pointer;
}
#soundcloud_clickable:hover{
  -webkit-transition: .4s ease-out 0.1s; 
  -moz-transition: .4s ease-out 0.1s; 
  -o-transition: .4s ease-out 0.1s;  
  transition: .4s ease-out 0.1s; 
  color:RED;
}
.trash-bin{
  position:fixed;
  bottom:0px;
  right:0px;
}
img.resize{
   max-width:100%;
   max-height:100%;
}

body {
  margin-top: 50px;
  padding-bottom: 20px;
}