

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-static-top{
  color:#e6e6e6;
	position: relative;
	bottom:50px;
}
#theButton{
  z-index:3;
}
@media only screen and (max-width:767px){
 #otherButton{
    display:none;
  }
}
.navbar-fixed-top{
  z-index:1;
}
#myNavbar{
  border:0px;
  padding-right:0;
}
@media only screen and (max-width:767px){
  #myNavbar{
    padding-bottom:23px;
  }
}

#navbarCollapse1{
  border:0;
}
.nav-background{
  background-color: pink;
}
#menu{
}
#pageContent{
  padding-top:50px;
}
.navbar-toggle{
  position: fixed;
  z-index:2;
  top: 0px;
  right: 0px;
  background-color: rgba(153, 0, 0, 0.4);
}
.nav-border{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
@media only screen and (max-width:767px){
  .nav-border{
    border-right:none;
  }
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-bottom:50px;
}
.nav-border-2{
height: 57px;
}
.my-name{
height:57px;
border-left: 4px solid BLACK;
border-bottom: 4px solid BLACK;
}
.name-border-2{
height:57px;
border-bottom: 3px solid BLACK
}
.cv-border{
	border-bottom: 1px solid BLACK;

}
a:hover{
  text-decoration: none;
}
.page h3{
 margin:0;
}
.page{
  padding-top:20px;
  padding-bottom:10px;
}
.col-sm-3.text-center.page:hover{
  -webkit-transition: .4s ease-out 0.1s; 
  -moz-transition: .4s ease-out 0.1s; 
  -o-transition: .4s ease-out 0.1s;  
  transition: .4s ease-out 0.1s; 
	background-color:#ff0000;
  text-decoration: none;
}
.nav-highlight{
	border-bottom:2px solid #e6e6e6;
}
.nav-highlight-2{
	border-left: 3px solid #e6e6e6;
}

#loading{
  visibility:hidden;
}
.trash-bin{
  position:fixed;
  bottom:0px;
  right:0px;
}
img.resize{
   max-width:100%;
   max-height:100%;
}

body {
  background-color:#e6e6e6;
  padding-bottom: 20px;
}